# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.sqlite3

# IDE
.idea/
.vs/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Static
staticfiles/
media/
cache/
